#about {
    background:url(/img/aboutp.png?_cchid=6b6aa60…);
    min-height: 500px;
    width: 100%;
    /* background-attachment: fixed;
    background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.col{
    padding-right: 0! important;
    padding-left:  0! important;
}
.bg-homepage{
    min-height: 600px;
    background-image: url(img/linda-home.png?_cchid=d6833b3…);
    background-size: cover;
}
.bg-image{
display: block;
height: 0;
}
